html, body {
    margin: 0; padding: 0;
}
body{
	background:  url(https://cdn.hipwallpaper.com/i/76/69/HiQ31y.jpg) no-repeat center center fixed; 
    background-size: cover;
    position: fixed; 
    min-width: 100%;
    min-height: 100%; 	
	top:0;
	left:0;
}

#header{
	width:12%;
	background-color:white;
	height:100vh;
}
#title{
	
}
#menu{
	margin-left:20%;
}
a{
	text-decoration:none;
	cursor:pointer;
color:black;}


#contenu{
	background-color:white;
	width:65%;
	height:40vw;
	margin-left:25%;
	margin-top:-45%;
	opacity:0.75;
	border-radius: 30px;
}